replicaCount: 1

image:
  repository: 192.168.1.68:30898/aetharia-backend
  tag: latest
  pullPolicy: IfNotPresent
  pullSecrets: []
service:
  type: ClusterIP
  port: 8080

resources:
  limits:
    cpu: 250m
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 128Mi

livenessProbe:
  httpGet:
    path: /
    port: 8080
  initialDelaySeconds: 10
  periodSeconds: 5

readinessProbe:
  httpGet:
    path: /
    port: 8080
  initialDelaySeconds: 5
  periodSeconds: 5
